SlimeRunner/proj.win32/
SlimeRunner/.idea/
SlimeRunner/cocos2d/
SlimeRunner/proj.android-studio/
SlimeRunner/.cocos-project.json
SlimeRunner/CMakeLists.txt
*.apk
*.jks
SlimeRunner/.keystore
SlimeRunner/bin/
SlimeRunner/firebase_cpp_sdk/